@use '../../globals' as *;

.icon {
  width: 1rem;
  color: $color-1;
  @media (prefers-color-scheme: dark) {
    color: $blanco;
  }
}

.btn-icon {
  height: 48px;
  width: 48px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    vertical-align: bottom;
    text-align: center;
  }
}