.icon {
  width: 1rem;
  // height: 1rem;
}

.btn-icon {
  height: 48px;
  width: 48px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    vertical-align: bottom;
    text-align: center;
  }
}