// @use '../../../../globals' as *;

.tarea {
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--padding-base);
  border-radius: var(--border-radius);
  background-color: var(--bg-2);

  form {
    width: 100%;
    display: flex;
    align-items: center;
    
    label {
      font-size: 24px;
    }
  
    .checkbox {
      width: 24px;
      height: 24px;
      margin: 0 var(--ubase) 0 0;
      padding: 0;
      border: 2px solid var(--color-1);
      background-color: transparent;
      appearance: none;
      cursor: pointer;
      position: relative;

      &:checked::after {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: var(--icon-checked);
      }
    }
  }

  .botonera {
    display: flex;
    align-items: center;
    gap: var(--ubase);

    // button:not(:last-child) {
    //   margin-right: var(--ubase);
    // }
  }
}