@use '../../../../globals' as *;

.tarea {
  display: flex;
  align-items: center;
  padding: $padding;
  border-radius: $border-radius;
  background-color: var(--bg-2);
  // background-color: $bg-2;
  // @media (prefers-color-scheme: dark) {
  //   background-color: $blanco10;
  // }
  width: 100%;
  align-items: center;

  form {
    width: 100%;
    display: flex;
    align-items: center;
    
    label {
      font-size: 24px;
    }
  
    .checkbox {
      width: 24px;
      height: 24px;
      margin: 0 8px 0 0;
      padding: 0;
      // display: block;
      border: 2px solid var(--color-1);
      // border: 2px solid $color-1;
      // @media (prefers-color-scheme: dark) {
      //   border-color: $blanco;
      // }
      background-color: transparent;
      appearance: none;
      cursor: pointer;
      position: relative;
    }
    .checkbox:checked::after {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      // content: url(../../../icons/check-icon/check-icon.component.svg);
      content: url(../../../../assets/icons/checked-black.svg);
      
      @media (prefers-color-scheme: dark) {
        content: url(../../../../assets/icons/checked-white.svg);
      }
    }
  }

  .botonera {
    display: flex;
    align-items: center;

    button:not(:last-child) {
      margin-right: 8px;
    }
  }
}