<div class="tarea">
  <form>
    <input type="checkbox" class="checkbox"
      [checked]="tarea.completada" 
      (click)="tarea.toggleCompletada()"
    >
    <label [ngClass]="{ 'tachado': tarea.completada }">{{ tarea.titulo }}</label>
  </form>
  <nav class="botonera">
    <app-button icon="clipboard" (click)="copiarTituloTarea(tarea.titulo)"></app-button>
    <app-button icon="share" (click)="compartirTarea(tarea)"></app-button>
    <app-button icon="trash" (click)="borrarTarea()"></app-button>
  </nav>
</div>