<div class="tarea">
  <form>
    <input type="checkbox" class="checkbox"
      [checked]="tarea.completada" 
      (click)="tarea.toggleCompletada()"
    >
    <label [ngClass]="{ 'tachado': tarea.completada }">{{ tarea.titulo }}</label>
  </form>
  <nav class="botonera">
    <button class="btn-icon" (click)="copiarTituloTarea(tarea.titulo)">
      <app-clipboard-icon></app-clipboard-icon>
    </button>
    <button class="btn-icon" (click)="compartirTarea(tarea)">
      <app-share-icon></app-share-icon>
    </button>
    <button class="btn-icon" (click)="borrarTarea.emit(indice)">
      <app-trash-icon></app-trash-icon>
    </button>
  </nav>
</div>