@use '../../../globals' as *;

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background-color: $negro10;
  // padding: $padding;
  border-radius: $border-radius;
  input {
    background-color: transparent;
    width: 100%;
    font-size: 24px;
    padding: 0;
    margin: 8px;
    border: none;
    &:focus {
      outline: none;
    } 
  }
  button {
    display: inline-block;
    // flex-basis: 48px;
    margin: 8px;
    margin-left: 0;
    min-width: 48px;
  }
}