@use '../../../globals' as *;

:host(.sticked) {
  form {
    // background-color: $negro;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(16px);

    input::placeholder {
      color: $color-1;
      @media (prefers-color-scheme: dark) {
        color: $blanco;
      }
    }
  }
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background-color: $bg-2;
  @media (prefers-color-scheme: dark) {
    background-color: $blanco10;
  }
  border-radius: $border-radius;


  input {
    background-color: transparent;
    width: 100%;
    font-size: 24px;
    z-index: 10;
    padding: 0;
    margin: 8px;
    border: none;
    &:focus {
      outline: none;
    } 
    @media (prefers-color-scheme: dark) {
      color: $blanco;
    }
  }

  button {
    display: inline-block;
    margin: 8px;
    margin-left: 0;
    min-width: 48px;
  }
}
