<div class="lista-tareas">
  <h1>Lista de tareas</h1>

  <form #tareaForm="ngForm" class="flex nueva-tarea">
    <input type="text" name="tituloTarea" minlength="1" ngModel required>
    <button (click)="agregarTarea(tareaForm)" [disabled]="!tareaForm.form.valid">add</button>
  </form>

  <div>
    <div *ngFor="let t of tareas.reverse(); index as i" class="flex tarea">
      <input type="checkbox" [checked]="t.completada" (click)="toggleCompletada(indiceInverso(i))">
      <label [ngClass]="{ 'tachado': t.completada }">{{ t.titulo }}</label>
      <button (click)="borrarTarea(indiceInverso(i))">
        <app-trash-icon></app-trash-icon>
      </button>
    </div>
  </div>
</div>