@use '../globals' as *;
@import '../themes';

header {
  // height: 64px;
  padding: $padding;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 { 
    margin: 0; 
    font-size: 36px;
  }

  > nav {
    display: flex;
    gap: 8px;
  }
}

main { height: 2000px; position: relative;
  display: flex;
  flex-direction: column;

  hr {
    border: 2px solid var(--bg-2);
    width: 100%;
  }
}

.sticky {
  position: sticky;
  top: 16px;
}