@use '../globals' as *;
@import '../themes';

header {
  // height: 64px;
  padding: $padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 { 
    margin: 0; 
    font-size: 36px;
  }
}

main { height: 2000px; position: relative;
  display: flex;
  flex-direction: column;

  hr {
    border: 2px solid var(--bg-2);
    // border: 2px solid $bg-2;
    // @media (prefers-color-scheme: dark) {
    //   border-color: $blanco10;
    // }
    width: 100%;
  }
}

.sticky {
  position: sticky;
  top: 16px;
}