@use '../globals' as *;

header {
  height: 64px;
  padding: $padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 { 
    margin: 0; 
    font-size: 36px;
  }
}

main {
  display: flex;
  flex-direction: column;

  hr {
    border: 2px solid $negro10;
    width: 100%;
  }
}