/** colores */

$negro: rgba(34, 34, 34, 1);
$negro50: rgba(34, 34, 34, .5);
$negro10: rgba(34, 34, 34, .1);
$blanco: rgba(255, 255, 255, 1);
$blanco50: rgba(255, 255, 255, .5);
$blanco10: rgba(255, 255, 255, .1);

  $color-1: $negro;
  $bg-1: $blanco;
  $bg-2: $negro10;
  $bg-3: $negro50;

@media (prefers-color-scheme: dark) {
  $color-1: $blanco;
  $bg-1: $negro;
  $bg-2: $blanco10;
  $bg-3: $blanco50;
}

$padding: 6px 9px;
$border-radius: 4px;