@use './globals' as *;

.tema-transicion {
  transition: background-color .2s, color .2s;
}

.tema-light {
  --color-1: #{$negro};
  --bg-1: #{$blanco};
  --bg-2: #{$negro10};
  --bg-3: #{$negro50};

  // icons
  --icon-checked: url(./assets/icons/checked-black.svg);
}

.tema-dark {
  --color-1: #{$blanco};
  --bg-1: #{$negro};
  --bg-2: #{$blanco10};
  --bg-3: #{$blanco50};

  // icons
  --icon-checked: url(./assets/icons/checked-white.svg);
}