/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@use './globals' as *;
@import './themes';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './app/icons/icons';

/** general */ 
* { box-sizing: border-box; }

body { 
  margin: 0;
  font-family: 'Roboto', sans-serif; 
  background-color: var(--bg-1);
  color: var(--color-1);
}

/** estructura */
.flex { display: flex }
.justify-between { justify-content: space-between }
.items-center { align-items: center; }

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 540px;
}

/** elementos html */
button { 
  background: none;
  border: 1px solid var(--color-1);
  color: var(--color-1);
  border-radius: 4px;
  padding: $padding;
}
button:hover:not(:disabled) {
  cursor: pointer;
  background: var(--bg-2);
}

/** util */
.tachado { 
  text-decoration: line-through;
  text-decoration-color: var(--color-1);
}